:root {
  --backdrop: rgba(0, 0, 0, 0.8);
  --bg-colour: #101112;
  --bg-colour-success: #005411;
  --bg-colour-warning: #864907;
  --bg-colour-error: #580a0a;
  --bg-colour-info: #260e5b;
  --border-colour: #ccc;
  --border: 0.05rem solid var(--border-colour, #ccc);
  --border-radius: 0.25rem;
  --checkbox-indent: 1.65rem;
  --delete-bg: #aa0000;
  --dialog-max-width: 30rem;
  --dialog-width: calc(100% - 4rem);
  --dialog-padding: 2rem;
  --error-border-colour: #f00;
  --error-colour: #f00;
  --grid-fill: none;
  --font-size: 3rem;
  --font-colour: #e8e8e8;
  --font-weight: bold;
  --font-height: 3rem;
  --grid-stroke: #fff;
  --grid-stroke-width: 0.2;
  --grid-dash:  5 10;
  --input-padding: 0.25rem 0.5rem;
  --input-white-space: auto;
  --label-align: left;
  --label-padding: 0.25rem 0 0;
  --label-width: 5.75rem;
  --label-y-translate: 0;
  --logo-display: block;
  --logo-fill: #fff;
  --logo-inner-fill: var(--bg-colour, #242424);
  --logo-inner-stroke-colour: transparent;
  --logo-inner-stroke-width: 0;
  --logo-stroke-colour: transparent;
  --logo-stroke-width: 0;
  --logo-height: 2rem;
  --logo-margin-bottom: -0.5rem;
  --logo-margin-inline: auto;
  --logo-margin-top: -0.5rem;
  --logo-translate-y: 0.25rem;
  --max-width: 40rem;
  --modal-border-radius: 0.5rem;
  --multi-col-list-margin-block: 1rem;
  --multi-col-list-margin-inline-start: 0;
  --primary-stroke: #cc5eff;
  --primary-stroke-width: 10;
  --text-underline-offset: 0.2em;
  --rect-fill: transparent;
  --rect-stroke: #625a86;
  --rect-stroke-width: 1;
  --rl-background-colour: inherit;
  --rl-border: inherit;
  --rl-border-radius: inherit;
  --rl-colour: #998eff;
  --rl-display: inherit;
  --rl-font-family: inherit;
  --rl-font-weight: bold;
  --rl-font-size: inherit;
  --rl-letter-spacing: inherit;
  --rl-line-height: inherit;
  --rl-padding: inherit;
  --rl-text-decoration: underline;
  --rl-text-transform: inherit;
  --rl-white-space: normal;
  --rl-word-spacing: normal;
  --rl-btn-bg: #009;
  --rl-btn-bg-danger: #900;
  --rl-btn-bg-warning: #844600;
  --rl-btn-bg-success: #040;
  --rl-btn-bg-secondary: transparent;
  --rl-btn-border: 0.1rem solid var(--table-border-colour);
  --rl-btn-border-radius: 0.25rem;
  --rl-btn-colour: inherit;
  --rl-btn-display: inline-block;
  --rl-btn-font-family: inherit;
  --rl-btn-font-size: inherit;
  --rl-btn-font-weight: bold;
  --rl-btn-letter-spacing: inherit;
  --rl-btn-lg-font-size: inherit;
  --rl-btn-lg-letter-spacing: 0.075rem;
  --rl-btn-lg-line-height: 1.5rem;
  --rl-btn-lg-padding: 0.5rem 1.5rem 0.5rem;
  --rl-btn-lg-word-spacing: 0.3rem;
  --rl-btn-line-height: 1.25rem;
  --rl-btn-padding: 0.25rem 1rem 0.35rem;
  --rl-btn-sm-font-size: 0.9375rem;
  --rl-btn-sm-letter-spacing: -0.025rem;
  --rl-btn-sm-line-height: 1rem;
  --rl-btn-sm-padding: 0.2rem 0.5rem 0.3rem;
  --rl-btn-sm-word-spacing: normal;
  --rl-btn-text-decoration: none;
  --rl-btn-text-underline-offset: var(--text-underline-offset);
  --rl-btn-text-transform: inherit;
  --rl-btn-word-spacing: normal;
  --rl-hover-background-colour: inherit;
  --rl-hover-colour: inherit;
  --rl-hover-text-transform: inherit;
  --rl-btn-hover-background-colour: rgb(96, 97, 96);
  --rl-btn-hover-colour: inherit;
  --rl-btn-hover-text-decoration: underline;
  --secondary-stroke: #1da827;
  --secondary-stroke-width: 7.5;
  --secondary-dash: 15 15;
  --subtitle-feature-font: var(--title-font);
  --subtitle-feature-font-size: 2rem;
  --table-border-colour: var(--border-colour, #aaa);
  --table-cell-padding: 0.25em 0.5em;
  --table-body-th-align: left;
  --table-body-td-align: left;
  --textarea-height: 3.5rem;
  --textarea-height-trans-time: 0.25s;
  --title-font: 'Harlow Solid', cursive;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-colour, rgba(255, 255, 255, 0.87));
  background-color: var(--bg-colour, #242424);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-colour: #ffffff;
    --font-colour: #213547;
    --error-border-colour: #900;
    --error-colour: #900;
    --grid-stroke: #555;
    --log-stroke: #66195c;
    --program-stroke: #1d7527;
    --rect-stroke: #2b1b6f;
  }
}
